* {
    box-sizing: border-box;
}

.bookmark__container {
    height: 20vh;
    width: 100vw;
    border: 1px solid #ccc;
    background-image: url("books1.jpg");
    background-size: 100vw;
    background-attachment: fixed;
}

.bookmark {

}

.bookmark__text {

}
/* .bookmark {
    background-image: url(/Users/kiwibird/Desktop/Youcode-Project/images/bookmarks/menu.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    padding: 8vh 5vw;
    position: relative;
    z-index: 0;
}
.bookmark::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
} */