*{
    box-sizing: border-box;
}
.navigation {
    width: 100vw;
    height: 50px;
    background-color: white;
    font-family:  'Roboto', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navigation__list {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    margin-right: 12vw;
}
.navigation__list-item {
    width: 120px;
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0;
}
.navigation__list-item:first-of-type {
    width: 80px;
}
.navigation__list-item:last-of-type {
    width: 160px;
}
a:link {
    text-decoration: none!important;
    color: rgb(253, 61, 47);
}
a:link:hover {
    color: rgb(0, 11, 39);
}
